<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <ul class="thumbnails">
	  <li class="span3">
	    <h4>Lorem Ipsum</h4>
	    <a href="#" class="thumbnail">
	      <img src="http://cdna.pics.youjizz.com/media8/4df003fc04fb5money.flv-1.jpg" style="width:260px; height: 180px;" alt="">
	    </a>
	  </li>
	  <li class="span3">
	    <h4>Lorem Ipsum</h4>
	    <a href="#" class="thumbnail">
	      <img src="http://cdna.pics.youjizz.com/media28/4fde1978c2cd6PLO054_s06_low.flv-1.jpg" style="width:260px; height: 180px;" alt="">
	    </a>
	  </li>
	  <li class="span3">
	    <h4>Lorem Ipsum</h4>
	    <a href="#" class="thumbnail">
	      <img src="http://cdna.pics.youjizz.com/media5/538eefe195c02.flv-1.jpg" style="width:260px; height: 180px;" alt="">
	    </a>
	  </li>
	  <li class="span3">
	    <h4>Lorem Ipsum</h4>
	    <a href="#" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	  <li class="span3">
	    <h4>Lorem Ipsum</h4>
	    <a href="#" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	  <li class="span3">
	    <h4>Lorem Ipsum</h4>
	    <a href="#" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	</ul>
</div>
